<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Leozinho's House</title>
  <meta name="description" content="Abrir a casa do Leozinho">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  {% block body %}{% endblock %}

  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script>
    var getUrlParameter = function getUrlParameter(sParam, def) {
      var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

      for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
          return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
      }
      return def
    };
    var key = getUrlParameter('key', '');
  </script>
  {% block js %}{% endblock %}
</body>

</html>