<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Leozinho's House</title>
  <meta name="description" content="Abrir a casa do Leozinho">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  {% block body %}{% endblock %}

  <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/jquery-3.3.1.min.js') }}"></script>
  <script>
    var getUrlParameter = function getUrlParameter(sParam, def) {
      var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

      for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
          return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
      }
      return def
    };
    var key = getUrlParameter('key', '');
  </script>

  {% if websocket %}
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/socket.io.min.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
      var connect = function () {};
      var disconnect = function () {};
      var socket;
      if(window.WebSocket) {
        socket = io('http://' + document.domain + ':' + location.port, {autoConnect: false});
        connect = function () {
          if(socket.disconnected) {
            socket.connect()
          }
        }
        disconnect = function () {
          if(socket.connected) {
            socket.disconnect()
          }
        }
      }
    </script>
  {% endif %}

  {% block js %}{% endblock %}
</body>

</html>